<div
  class="card mb-3 shadow"
  [ngClass]="{
    'bg-dark': file.status == FileStatuses.InProgess,
    'bg-success': file.status == FileStatuses.Approved,
    'bg-primary': file.status == FileStatuses.Published,
    'bg-secondary': file.status == FileStatuses.ForReview,
    'bg-info': file.status == FileStatuses.Scheduled
  }">
  <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
    <h4 class="m-0">{{ file.title }}</h4>
    <span> {{ file.status }}</span>
  </div>
  <div class="card-body">
    <ul class="p-0 m-0">
      <li class="d-flex align-items-center justify-content-between mb-1">
        <span> Popularity </span> <span class="fw-bold ms-3 text-end"> {{ file.popularity >= 1 ? file.popularity : 'None' }}</span>
      </li>
      <li class="d-flex align-items-center justify-content-between mb-1">
        <span> Is live </span>
        <span class="fw-bold ms-3 text-end">
          <i *ngIf="file.live" class="fas fa-check"></i>
          <i *ngIf="!file.live" class="fas fa-times"></i>
        </span>
      </li>
      <li class="d-flex align-items-center justify-content-between mb-1">
        <span> Created By </span>
        <span class="fw-bold ms-3 text-end" *ngIf="file.userCreatedBy; else loader">
          {{ file.userCreatedBy.givenName + ' ' + file.userCreatedBy.familyName }}</span
        >
      </li>
      <li class="d-flex align-items-center justify-content-between mb-1">
        <span> Creation Time</span>
        <span class="fw-bold ms-3 text-end"> {{ file.creationDateTime | date: 'medium':'UTC' }}</span>
      </li>
      <li class="d-flex align-items-center justify-content-between mb-1">
        <span> Modified By </span>
        <span class="fw-bold ms-3 text-end" *ngIf="file.userModifiedBy; else loader">
          {{ file.userModifiedBy.givenName + ' ' + file.userModifiedBy.familyName }}</span
        >
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <span> Modification Time</span>
        <span class="fw-bold ms-3 text-end"> {{ file.modifiedDateTime | date: 'medium':'UTC' }}</span>
      </li>
    </ul>
  </div>
</div>

<ng-template #loader
  ><div class="spinner-border text-light spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div></ng-template
>
