<div class="my-nav d-flex align-items-center justify-content-between" id="header">
  <input type="checkbox" id="my-nav-check" />
  <div class="my-nav-header" (click)="closeMenu()" routerLink="home" title="{{ 'Menu.Home' | translate }}">
    <div class="mx-3">
      <i class="fas fa-folder fa-2x"></i>
    </div>
  </div>
  <div class="my-nav-btn">
    <label for="my-nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="my-nav-links" id="my-nav-links">
    <span class="menu-item" (click)="closeMenu()" routerLink="home" routerLinkActive="active" title="{{ 'Menu.Home' | translate }}">
      <i class="fas fa-home"></i>
      {{ 'Menu.Home' | translate }}
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="files" routerLinkActive="active" title="{{ 'Menu.Files' | translate }}">
      <i class="fas fa-file-alt"></i>
      {{ 'Menu.Files' | translate }}
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="users" routerLinkActive="active" title="{{ 'Menu.Users' | translate }}">
      <i class="fas fa-users"></i>
      {{ 'Menu.Users' | translate }}
    </span>
    <span class="menu-item" (click)="closeMenu()" routerLink="types" routerLinkActive="active" title="{{ 'Menu.Types' | translate }}">
      <i class="fas fa-tasks"></i>
      {{ 'Menu.Types' | translate }}
    </span>
  </div>
</div>
