:root {
  --scroll__top__clr: #800080;

  --scrollbar__clr: #8a93bd;
  --scrollbar_border__clr: #222b45;

  --header__bg: #151a30;
  --header__title__clr: #ffffff;
  --header__theme__btn__clr: #ff9900;
  --header__theme__btn__bg: #ffffff;
  --header__menu__clr: #efefef;
  --header__menu__item__hover__clr: rgb(91, 179, 255);
  --header__menu__item__hover__bg: rgb(238, 234, 234);
  --header__menu__item__hover__bg-a: rgba(238, 234, 234, 0.796);

  --header__mobile__toggle__clr: #eeeeee;
}

// Header
$headerHt: 50px;

